/* Top Story */ 
#container-center {
  padding-right: 120px;
  padding-left: 130px;
  font-size: medium;

}

#container-center img {

  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 50px;
}


#container-center h5 {
  text-align: left;
 
}

#container-center h1 {
  text-align: center;
  padding-bottom: 45px;
  
}

/* Articles */
#news-container {
padding-right: 120px;
padding-left: 130px;
font-size: medium;
}

#news-container h5 {
  text-align: left;
  
}

#news-container h1 {
font-size: large;
text-align: center;

}


#news-container a {
color: black;
font-size: medium;
text-align: center;

}


/* Parking Tips */
#container-tips {

padding-top: 20px;
padding-right: 120px;
padding-left: 130px;

}

#container-tips h5 {
  text-align: left;
  
}

#container-tips h1 {

font-size: large;
text-align: center;

}