
.click{
  cursor: pointer;
}

.container {
  padding: 16px;
}

.login label{
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 19px;
}

.login input[type=text], input[type=password],input[type=email] {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 20px auto;
    display: inline-block;
    border: 3px solid #1b1b1b;
    border-radius: 24px;
    box-sizing: border-box;
  }

  .cancelbtn, .signupbtn {
    float: left;
    cursor: pointer;
    width: 50%;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 500px;
    border: none;
    font-size: 24px;
  }

  .center {
    background-color: #ebeae9;
    margin: auto;
    width: 500px;
    border: 6px solid #1b1b1b;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 80px;
  }

  .login button{
    width: 50%;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }

button:hover {
  opacity:1;
}
.reg {
  left: 35%;
  margin: auto;
  width: 550px;
  border: 6px solid #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  display: none;
  position: fixed; 
  z-index: 1;
  top: 15%;
  overflow: auto; 
  background-color: #ebeae9;
}

.reg-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
   
}

.close {
  cursor: pointer;
}



.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
