/* Light mode styles */
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.click{
  cursor: pointer;
}

.container {
  padding: 16px;
}

.login label{
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 19px;
}

.login input[type=text], input[type=password],input[type=email] {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 20px auto;
    display: inline-block;
    border: 3px solid #1b1b1b;
    border-radius: 24px;
    box-sizing: border-box;
  }

  .cancelbtn, .signupbtn {
    float: left;
    cursor: pointer;
    width: 50%;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 500px;
    border: none;
    font-size: 24px;
  }

  .center {
    background-color: #ebeae9;
    margin: auto;
    width: 500px;
    border: 6px solid #1b1b1b;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 80px;
  }

  .login button{
    width: 50%;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }

button:hover {
  opacity:1;
}
.reg {
  box-shadow: 0 0 20px;
  left: 35%;
  margin: auto;
  width: 550px;
  border: 6px solid #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  display: none;
  position: fixed; 
  z-index: 1;
  top: 15%;
  overflow: auto; 
  background-color: #ebeae9;
}

.reg-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
   
}


.alert2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background-color: #25a13a;
  color: white;
  position: fixed;
  z-index: 2;
}

.alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background-color: #f44336;
  color: white;
  position: fixed;
  z-index: 2;
  align-items: center;
}

.close {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  float: right;
  line-height: 1;
}


.closebtn {
  margin-left: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  float: right;
  line-height: 1;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .click{
  cursor: pointer;
}

body.dark-mode .container {
   background-color: #333;
  padding: 16px;
}

body.dark-mode .login label{

  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 19px;
  color: #ffffff;
}

body.dark-mode .login input[type=text], input[type=password],input[type=email] {
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 20px auto;
    display: inline-block;
    border: 3px solid #1b1b1b;
    border-radius: 24px;
    box-sizing: border-box;
  }

  body.dark-mode .cancelbtn, .signupbtn {
    float: left;
    cursor: pointer;
    width: 50%;
  }

  body.dark-mode .title{
    text-align: center;
    margin: auto;
    width: 500px;
    border: none;
    font-size: 24px;
  }

  body.dark-mode .center {
    background-color: #333;
    margin: auto;
    width: 500px;
    border: 6px solid #1b1b1b;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 80px;

  }

  body.dark-mode .login button{
    width: 50%;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }

body.dark-mode button:hover {
  opacity:1;
}
body.dark-mode .reg {
  box-shadow: 0 0 20px;
  left: 35%;
  margin: auto;
  width: 550px;
  border: 6px solid #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  display: none;
  position: fixed; 
  z-index: 1;
  top: 15%;
  overflow: auto; 
  background-color: #ebeae9;
}

body.dark-mode .reg-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
   
}


body.dark-mode .alert2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background-color: #25a13a;
  color: white;
  position: fixed;
  z-index: 2;
}

body.dark-mode  .alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background-color: #f44336;
  color: white;
  position: fixed;
  z-index: 2;
  align-items: center;
}

body.dark-mode .close {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  float: right;
  line-height: 1;
}


body.dark-mode .closebtn {
  margin-left: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  float: right;
  line-height: 1;
}
