

.login input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .cancelbtn, .signupbtn {
    float: left;
    cursor: pointer;
    width: 50%;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 500px;
    border: none;
    font-size: 24px;
  }

  .center {
    background-color: #ebeae9;
    margin: auto;
    width: 500px;
    border: 6px solid #1b1b1b;
    border-radius: 12px;
    padding: 15px;
  }

  .login button{
    width: 50%;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    

  }