header {
    text-align: center;
    background-color: #000000;
    padding: 1px  0; 
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }
  
  nav {
    color: #fff; /* Change the text color */
    margin-top: 10px; /* Adjust the top margin*/
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .rightNav {
    float: right;
  }
  
  #search {
    margin-right: 10px; /* Adjust the right margin */
  }
  
  .btn {
    background-color: #ebe9e9; /* Change the button color*/
    color: #000000;
    border: none; 
    
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #121bbd; /* Change the hover color */
  }
  
  h1{
      text-align: center;
      font-size: 24px;
  }
  h2{
      text-align: center;
      font-size: 24px;
  }
  p{
      font-size: 150%;
      text-align: center;
  }
  .item {
      width: 300px;
      height: 250px;
      padding: 1em;
      font-weight: 700;
      background-color: rgb(228, 228, 228);
      text-align: center;
  
  
  }
  .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .textandrew{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 20px;

  }
  .textjisel{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 55px;
    top: 20px;
  }
  .textgeorge{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 40px;

  }
  .textehab{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 10px;
  
  }
  .Text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  
  a{
      font-size: 12px;
  }
  img{
      font-size: 12px;
  }
  body {
    margin-top: 100px; /* Adjust the top margin to make space for the fixed header */
  }
