
nav {
    color: #000000; /* Change the text color */
    margin-top: 10px; /* Adjust the top margin*/
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
  }
  
  .rightNav {
    float: right;
  }
  
  #search {
    margin-right: 10px; /* Adjust the right margin */
  }
  
  .btn {
    background-color: #0e0f29; /* Change the button color*/
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #121bbd; /* Change the hover color */
  }
  

h1{
    text-align: center;
    font-size: 24px;
}
h2{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 150%;
    text-align: center;
}
.item {
    width: 300px;
    height: 250px;
    padding: 1em;
    font-weight: 700;
    background-color: rgb(223, 210, 187);
    text-align: center;


}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
}
a{
    font-size: 12px;
}
img{
    font-size: 12px;
}
