
header {
  background-color: #000000;
  padding: 10px  0; 
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

nav {
  color: #fff; /* Change the text color */
  margin-top: 10px; /* Adjust the top margin*/
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
}

.rightNav {
  float: right;
}

#search {
  margin-right: 10px; /* Adjust the right margin */
}

.btn {
  background-color: #ebe9e9; /* Change the button color*/
  color: #000000;
  border: none; 
  
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #121bbd; /* Change the hover color */
}

    h1 {
        text-align: center;
        font-size: 24px;
        margin: 20px 0; /* Add margin to create space between the h1 and the FAQ content */
      }

    

  .faq {
    
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ebe9e9; /*the table background color*/
    padding: 20px;
    border-radius: 5px;
  }
  
  .faq-question {
    margin: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px; /* border size around the questions*/
    background-color: #f7f3f3;
  }

  /* when you Hover above Qs the color changes */
  .faq-question:hover {
    background-color: #08155152;
  }
  
  .faq-question summary { /*Questions*/
    cursor: pointer; /*changes the pointer */
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #ebe9e9; /*question box background color */
    border: 1px solid #ebe9e9; /*border color*/
    border-radius: 5px;
  }
  

  /*Answer cells */

  
  .faq-question p {
    display: none; /*none means the answers are hidden*/
    margin: 0;
    padding: 10px;
  }


  body {
    margin-top: 115px; /* Adjust the top margin to make space for the fixed header */
}

  .faq-question[open] p {
    display: block; 
  }
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
    float: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.form-submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #2980b9;
}

  
