header {
  background-color: #000000;
  padding: 10px 0; 
  text-align: center;
}

nav {
  color: #fff; /* Change the text color */
  margin-top: 10px; /* Adjust the top margin*/
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.rightNav {
  float: right;
}

#search {
  margin-right: 10px; /* Adjust the right margin */
}

.btn {
  background-color: #0e0f29; /* Change the button color*/
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #121bbd; /* Change the hover color */
}
