
header {
  background-color: #000000;
  padding: 10px  0; 
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

nav {
  color: #fff; /* Change the text color */
  margin-top: 10px; /* Adjust the top margin*/
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.rightNav {
  float: right; /*search bar*/
}

#search {
  margin-right: 10px; /* Adjust the right margin */
}

.btn {
  background-color: #ebe9e9; /* Change the button color*/
  color: #000000;
  border: none; 
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #121bbd; /* Change the hover color */
}

body {
  margin-top: 200px; /* Adjust the top margin to make space for the fixed header */
} 


.login input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .cancelbtn, .signupbtn {
    float: left;
    cursor: pointer;
    width: 50%;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 500px;
    border: none;
    padding: 15px;
  }

  .center {
    background-color: #ebe9e9;
    margin: auto;
    width: 500px;
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    padding: 15px;
  }

  .login button{
    width: 50%;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    

  }