
.navigation {
    overflow: hidden;
    background-color: #1b1b1b;
  }
  
  .navigation button {
    float: right;
    padding: 10px;
    margin-top: 6px;
    margin-right: 6px;
  }

  .navigation input[type=search] {
    float: right;
    border: none;
    padding: 10px;
    margin-top: 6px;
    margin-right: 10px;
  }

  .navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navigation a.active {
    background-color: #2039c7;
    color: white;
  }